## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.dll
*.pdb
*.exe

## IDE
.vs/
.vscode/
*.swp

## OS
Thumbs.db
.DS_Store

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Test results
TestResults/
